/*Home page*/
.introtitle{
    color: darkslateblue;
    text-decoration-line: underline;
}
#p1{
    font-family: fantasy;
    font-size: 27px;
    color: darkslateblue;
}

#p2{
    font-family:fantasy;
    font-size: 27px;
    color:darkslateblue;
}
.quizbutton{
    text-align: right;
}

/*Quiz page*/
.quiz{
    color: darkgreen;
    background-color: plum;
    text-align: center;
}

.quizz{
    background-color: lightsteelblue;
    text-align: center;
}


/*Hobby page*/
.hobbies{
    color: darkblue;
    text-align: center;
    text-decoration-line: underline;
}

.divsinhobs{
    color:rosybrown;
    text-decoration-line: underline;
    
}

p{
    font-size: 20px;
    
}

/*Results page*/
.results1{
    background-color: green;
}
#results1{
    background-color: green;
    font-size: 30px;
}

.results2{
    background-color: red;
}
#results2{
    background-color: red;
    font-size: 30px;
}

/*Books I read and why*/
.booktitle{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(69, 69, 241);
}
/*Image*/
.bookdiv1{
    text-align: center;
}

.book2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(69, 69, 241);
    
}
    

#bookpar{
    font-family: cursive;
    font-weight: bold;
}

.bookdiv2{
    text-align: center;
}
.bookdiv3{
    text-align: center;
}
.bookpagebackground{
    background-color: cadetblue;
}