
#p1{
    font-family: fantasy;
    font-size: 27px;
    color: darkslateblue;
}

#p2{
    font-family:fantasy;
    font-size: 27px;
    color:darkslateblue;
}

.quiz{
    color: darkgreen;
    background-color: plum;
    text-align: center;
}

.quizz{
    background-color: lightsteelblue;
    text-align: center;
}